<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/home/new">add</a></li>
      <li><a  routerLink="/home/edit">edit </a></li>
      <li><a routerLink="/home/view">view</a></li>
      <li><a  routerLink="/home/del">delete</a></li>
      <li><a [routerLink]="['/home/abt','abc company','cochin']">about </a></li>
  
      <li><a  routerLink="/home/con">contact</a></li>
      <li><a  routerLink="/home/service">service</a></li>
    </ul>
  </div>
</nav>
      