<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/new">add</a></li>
      <li><a  routerLink="/edit">edit </a></li>
      <li><a routerLink="/view">view</a></li>
      <li><a  routerLink="/del">delete</a></li>
      <li><a routerLink="/abt">about </a></li>
      <li><a  routerLink="/con">contact</a></li>
      <li><a  routerLink="/service">service</a></li>
    </ul>
  </div>
</nav>
      