
    
    <div >
     <table  >
          <tr>
            <td>username</td>
            <td><input type="text" name="user" id=""></td>
            
          </tr>
          <tr>
            <td>password</td>
            <td><input type="password" name="password" id=""></td>
           
          </tr>
          <tr>
            <td><input class="btn waves-effect waves-light" type="button" name="btn" value="register"></td>
          
          </tr>
       <tr> <ul><li><a  (click)="show()">signup</a></li></ul></tr>
      </table>
      <app-signup *ngIf="view"></app-signup>
    </div>
    