<p>
  view works!
</p>
name of employee is :{{name}}
<hr>
age of employee is : {{age}}
<hr>
email is :{{email}}
<h2>
  address
</h2>
<h3>{{address.houseno}},{{address.street}}</h3>
<h2>
  hobbies
</h2>
<h3><table border="1px">
  <ul>
    <li *ngFor="let i of hobbies;let x= index">{{i}} {{x+1}}</li>
  </ul>
</table></h3>

  <table border="1px">
    <tr>
      <td>
        project name
      </td>
      <td> duration</td>
      <td>enddate</td> 
    </tr>
      <tr *ngFor="let p of projects;let i=index">
<td>{{p.name}}</td>
<td>{{p.duration}}</td>
<td>{{p.enddate}}</td>
    </tr>
  </table>

  <input type="button" value=" add project" name="btn1" (click)="add()">


